# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven #
target/

# IntelliJ IDEA #
.idea/
*.iml
out/

# Database / OS #
.DS_Store
db_password_backup.txt